
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: 'Montserrat-Alternates';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/MontserratAlternates-Regular.otf');
}

@font-face {
  font-family: 'Montserrat-Alternates';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/MontserratAlternates-SemiBold.otf');
}
